@media print {

    /* Masquer les contrôles et éléments inutiles à l'impression */
    #controls,
    .no-print {
        display: none !important;
    }

    /* Empêcher la coupure à l’intérieur de ces blocs */
    .job,
    .edu,
    .skill-group,
    .languages,
    .cv-summary,
    .cv-contact,
    .cv-location,
    .cv-title,
    .skills,
    .additional,
    .cv-aside,
    .cv-main {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    /* Ajoute un espacement pour éviter que les blocs soient collés en haut de page */
    .languages,
    .cv-summary,
    .cv-contact,
    .skills,
    .additional,
    .padding-top-print {
        padding-top: 1rem !important;
    }

    /* Forcer un saut de page avant éducation dans le template classic */
    #classic .education {
        break-before: page;
        page-break-before: always;
    }

    /* Utilisé pour forcer un remplissage de fond dans l'aside */
    .print-filler {
        height: 1000px;
        content: '';
        display: block;
    }

    .cv-summary,
    .cv-main {
        break-before: avoid;
        page-break-before: avoid;
    }

    @page {
        margin: 1.5cm;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
}